# Google IDX
.idx/
.vscode/

# Сборка и логи
dist/
dist-ssr
build/
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Секреты
.env
projects/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Android (Capacitor)
android/
# Если решишь хранить папку android в гите (чтобы настройки не слетали), 
# то внутри неё игнорируй хотя бы папку с билдами:
# android/app/build/