.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.message {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  display: inline-block;
  max-width: 80%;
}

.user {
  background-color: #dcf8c6;
  align-self: flex-end;
  text-align: right;
}

.bot {
  background-color: #f1f0f0;
  align-self: flex-start;
  text-align: left;
}
